<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Associated Domains temporarily removed for local device debug.
	     Re-enable after agreeing to the Apple Developer Program License Agreement
	     and turning on Associated Domains for com.getzoro.zoroFlutter:
	     applinks:www.getzoro.com
	     applinks:getzoro.com
	-->
</dict>
</plist>
