Hi {name},<br><br>
<strong>Your waitlist position: #{waitlistPosition}</strong><br><br>
{waitlistExplanation}<br><br>
{aiContent}<br><br>
{insightsSection}<br><br>
<strong>Next steps:</strong><br><br>
1. <u>Fill out the form</u><br>
{focusGoalLink}<br><br>
2. <u>Share documents</u><br>
<ul>
{documentRequests}
</ul>
{scheduleLine}<br><br>
Simply reply to this email with your answers. The more detail you share, the better we can tailor your plan.<br><br>
You can also attach documents or tell us if you prefer bullet points and we'll keep your preferences in mind.<br><br>
Thanks,<br>
Mazin

